/* sizing of map contaier */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f3f4f8 !important;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

.leaflet-container {
	height: 100%;
	border-radius: 10px;
}

h1 {
	text-align: center;
	font-weight: 700;
	margin-top: 30px;
}

.tabs {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.tabs button {
	padding: 0 50px;
	height: 30px;
	border-radius: 10px;
	outline: 0;
}

.tabs button:hover {
	background: rgba(200, 200, 200, 0.2);
}

.tabs button.active {
	background-color: #ff6384;
	color: #fff;
	font-weight: 600;
	cursor: default;
}

.tabs button.active:hover {
	background: #ff6384;
}

.visualization {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.visualization > div {
	margin-right: 20px;
	width: 45%;
	/* height: 55vh; */
	margin-top: 20px;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	/* padding-bottom: 40px; */
}

.visualization > .map-container {
	background-color: #f3f4f8;
	padding: 0;
	border-radius: 10px;
}

.visualization > div canvas {
	width: 100% !important;
}

.select-box {
	padding-left: 30px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.select-box .all-pools {
	display: flex;
	align-items: center;
}

.select-box .all-pools input {
	transform: scale(1.5);
	margin-left: 10px;
}

.select-box select {
	margin-right: 30px;
	font-size: 14px;
	outline: 0;
}

.select-box label {
	color: rgb(112, 112, 114);
}

.slider {
	margin-bottom: 25px;
}

.bar-slider {
	display: flex;
	width: 100%;
}

.bar-slider .slider-one {
	width: 50%;
}
